{% extends "base.html" %} {% block content %}
{% load static %}
<div class="row align-items-center py-3 px-lg-5">
    <div class="col-md">
        <h1>
            Hello, I'm Angelica
        </h1>
        <h2>
            I'm a software developer and lifelong learner.
            This is my resume website, feel free to click around!
        </h2>
    </div>
    <div class="col-md">
        <img src="{% static 'IMG-0520.PNG' %}" class="rounded img-fluid" alt="Photo of Angelica Rees">
    </div>
</div>
<a href="{% url 'projects' %}" class="row h1 text-dark text-decoration-none py-3 px-3">Projects</a>
<div class="row py-3 px-3">
    {% for project in projects %}
    <div class="col-sm">
        {% include "project_card.html" with project=project %}
    </div>
    {% endfor %}
</div>

{% endblock %}