{% extends "base.html" %} {% block content %}
{% load static %}

<div class="row py-3 px-3 text-center justify-content-center">
    <hr class="col-2 soft-divider">
    <div class="col-2 align-self-center">
        <h4>Jobs</h4>
    </div>
    <hr class="col-2 soft-divider">
</div>

{% for job in jobs %}
<div class="card job-card p-4 mx-2 justify-content-between"
    data-tags="{% for skill in job.skills.all %}{{ skill.title|slugify }} {% endfor %}">
    <div class="row">
        <h3 class="card-title col">{{ job.title }} | <small>{{ job.company }}</small></h3>
        <p class="col-4 text-right">{{ job.date_started }} - {{ job.date_ended|default:"Present" }}</p>
    </div>
    <ul class="card-text flex-fill">
        {% for item in job.descriptionitem_set.all %}
        <li>
            {{ item.title }}
        </li>
        {% endfor %}
    </ul>
    <div class="row px-3 flex-wrap">
        {% for skill in job.skills.all|dictsort:"title" %}
        <button class="tech-pill tag-pill btn btn-sm" type="button" data-tag="{{ skill.title|slugify }}">
            {{ skill.title }}
        </button>
        {% endfor %}
    </div>

</div>
{% endfor %}
<script src="{% static 'js/pills.js' %}"></script>

{% endblock %}