{% extends "base.html" %} {% block content %}
{% load static %}

<div class="row py-3 px-3 text-center justify-content-center">
    <hr class="col-2 soft-divider">
    <div class="col-2 align-self-center">
        <h4>Projects</h4>
    </div>
    <hr class="col-2 soft-divider">
</div>

<div class="row py-3 px-3">
    {% for project in projects %}
    <div class="col-sm">
        {% include "project_card.html" with project=project %}
    </div>
    {% endfor %}
</div>

<h3 class="py-3 px-3">See more in my <a href="https://github.com/Angelica-Rees">Github</a></h3>
<script src="{% static 'js/carousel.js' %}"></script>
{% endblock %}